* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
  background: #ffffffb5;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#navbar__logo {
  background-color: #fef0efc9;
  background-image: linear-gradient(to top, #201f1f5b 0%, #a49f9fb7 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
  
#navbar__sublogo {
  background-color: #fef0efc9;
  background-image: linear-gradient(to top, #201f1f5b 0%, #a49f9fb7 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  position: absolute;
  top: 55px;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: #6d6867;
  color: #fff;
}

.button:hover {
  background: #6e6c6caa;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #848382a3;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #fff;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }
  #navbar__sublogo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #000000;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Main Content CSS */
.main {
  background-color: #fff;
}

.main__container {
  display: flex;

  align-items: center;
  justify-self: space-around;
  margin: 0 auto;
  height:auto;;

  background-color: #fff;

  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding:50px;

}



.main__content {
  color: #000000;
  width: 100%;
}



.main__img--container {
  text-align: center;
  
}

#main__img {
  object-fit: contain;
  max-width: 100%;
  max-height: 160vh;
  height:auto;

}



.main__content h1 {
  font-size: 4rem;
  background-color: #000000;
  background-image: linear-gradient(to top, #3c3b3b 0%, #000 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content h2 {
  font-size: 2rem;
  margin-top: 10px;
  background-color: #000000;
  background-image: linear-gradient(-20deg, #a9a9a9ce 0%, #5e5a58 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 6px;
  font-size: 2rem;
  font-weight: 700;
  color: #0000005f;

}

.main__btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #53504f 0%, #262626 100%);
  padding: 14px 32px;
  border: none;

  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}
/*
.main__btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #20c626;
  transition: all 0.35s;

}

.main__btn:hover:after {
  width: 100%;
}
*/

.main__btn:hover {
  color: #fff;
  transform: scale(1.075);
transition: 0.1s ease-in;
cursor: pointer;
}


/* Mobile Responsive */


@media screen and (max-width: 960px) {
  .main__container {

    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: 0 auto;

  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 1.5rem;
  }

  .main__content p {
    margin-top: 6px;
    font-size: 1.5rem;
  }



  #main__img {
    max-height: 90vh;
    max-width: 80%;

  }

}

@media screen and (max-width: 480px) {

  .main__content h1 {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 1.5rem;
  }

  .main__content p {
    margin-top: 6px;
    font-size: 1.5rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }

  #main__img {
    max-width: 80%;
 
  }
}

/* Services Section */
.services {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 110vh;
}

.services h1 {
  background-color: #000000;
  background-image: linear-gradient(
    to right,
    #84848494 0%,
    #b1b1b184 21%,
    #b0b0b099 52%,
    #5f5e5ed8 78%,
    #343434c0 100%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin: 4rem 1.5rem;
  font-size: 2.5rem;

}

.services__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 120vh;
  flex-grow:2;
}

.services__card {
  margin: 1rem;
  height: 525px;
  width: 400px;
  max-width: 100%;

  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/pic3.jpg');
  background-size: cover;
  position: relative;
  color: #fff;
}

.services__card:before {
  opacity: 0.2;
}

.services__card:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.9) 100%
    ),
    url('/images/pic4.jpg');
}

.services__card h2 {
  position: absolute;
  top: 360px;
  left: 30px;
}

.services__card p {
  position: absolute;
  top: 400px;
  left: 30px;
}

.services__card a.button {
  color: #fff;
  padding: 8px 15px;
  border: none;
  outline: none;

  background-image: linear-gradient(to top, #53504f 0%, #262626 100%);
  position: absolute;
  top: 450px;
  left: 30px;
  font-size: 1rem;
  width: 150px;
  height: 50px;
}

.services__card a.button:hover {
  transform: scale(1.075);
  transition: 0.1s ease-in;
  cursor: pointer;
}



@media screen and (max-width: 880px) {

  .services {
    height: 190vh;
    justify-content: flex-start;
  }


  
  .services h1 {
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
  }


}

@media screen and (max-width: 480px) {

  .services {
    height: 152vh;
    justify-content: flex-start;
  }

  .services h1 {
    font-size: 1.2rem;
    margin-top: 12rem;

  }
  
  .services__card {
    margin: 0.80rem;
    height: 420px;
    width: 320px;
  }

  .services__card h2 {
    position: absolute;
    top: 280px;
    left: 20px;
    font-size: 1rem;
  }
  
  .services__card p {
    position: absolute;
    top: 300px;
    left: 20px;
    font-size: 1rem;
  }
  
  .services__card a.button {
    position: absolute;
    top: 360px;
    left: 20px;
    width: 150px;
    height: 40px;
    font-size: 1rem;
  }


}

/* Footer CSS */
.footer__container {
  background-color: #141414;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer__links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;

}

.footer__link--wrapper {
  display: flex;

}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 16px;
  text-align: left;
  /*width: 160px;*/
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 16px;
}

.footer__link--items > h2 {
  color: #fff;
}

.footer__link--items a {
  color: #fff;
  text-decoration: none;

  margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
  color: #e9e9e9;

  transition: 0.3s ease-out;
}

/* Social Icons */
.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: center;
  gap:20px;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social__logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website__rights {
  color: #fff;
}

@media screen and (max-width: 960px) {
  .footer__links {
    padding-top: 1.5rem;
    font-size: 0.9rem;
    flex-direction: column;
    justify-content: center;
    align-items: left;

  }

  #footer__logo {
    margin-bottom: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }

  .footer__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {

  .footer__links {
    font-size: 0.9rem;
  }

  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

.controls {
  width: 100%;

  margin: 5px auto;

  background: #fff;
  display: flex;
  gap:15px;

  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  background-color: #fff;
  z-index: 1;

  padding-right: 75px;
  padding-left: 75px;
}

.projet {
  position:relative;
  width: 220px;
  /*
  border: 1px solid black;
  */
  padding: 4px;
  margin: 15px 5px;
  text-align: center;
  justify-self: center;
}

.projet .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;

}

.projet:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.projet:hover #thumbs_img {
  transform: scale(1.02);
  opacity: 0;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.projet p {
  color: #000;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translate(-0%, -50%);
  -ms-transform: translate(-0%, -50%);
  transform: translate(-0%, -50%);
  max-width: 80%;
  text-align: left;
}


.liste_projets {

  width: 100%;

  background: #fff;
  display: grid;
  justify-content: center;
  /*flex-wrap: wrap;*/
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  gap:0px 20px;
  background-color: #fff;
  padding-right: 75px;
  padding-left: 75px;

}

.liste_projets .projet #thumbs_img {

  width:220px;
  height:260px;
}


@media screen and (max-width: 960px) {
  .liste_projets {
    padding-right: 50px;
    padding-left: 50px;
    gap:0px 15px;
  }

  .controls {
    padding-right: 50px;
    padding-left: 50px;
  }

  .liste_projets .projet #thumbs_img {
    width:176px;
    height:208px;
  }

  .projet p {
    color: #000;
    font-size: 12px;
  }

  .projet {
    position:relative;
    width: 176px;
  }


}

@media screen and (max-width: 480px) {
  .liste_projets {
    padding-right: 20px;
    padding-left: 20px;
    gap:0px 10px;
  }

  .controls {
    padding-right: 20px;
    padding-left: 20px;
  }

  .liste_projets .projet #thumbs_img {
    width:132px;
    height:156px;
  }

  .projet p {
    color: #000;
    font-size: 10px;
    left:110%;
  }

  .projet {
    position:relative;
    width: 132px;
  }

  .projet .overlay {
    opacity: 1;
  }
}



.project__container {
  display: flex;


  justify-self: center;
  margin: 0px auto;
  height: auto;
  padding:15px 50px;
  background-color: #fff;

  z-index: 1;
  width: 100%;
  max-width: 1300px;

}

.project__content {
  color: #000000;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .project__content {
    font-size: 0.90rem;
  }
}

.project_images_list {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  align-items: center;
  width:100%;
  background: #A0C5E8;

}


img {
  max-width: 100%;
  max-height: 100%;
}

.titled_image {
  display:flex;
  flex-direction: column;

}

.titled_image p {
 font-size: 15px;
text-align: center;
 max-width: 640px;
 margin-bottom: 5px;
}


/* Modifications Hector Css pour la page de productions */


.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  position: relative;
  width: 45%;

  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.6) 100%
    );

    
    
  color: #fff;
  width: 100%;
  padding: 20px;
}


.card p {
  margin: 0;
  padding: 0;
  color: #fff;
}

.card h4 {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #ffff; /* S'assurer que le h2 dans .card est blanc */
}


.card p {
  font-size: 1rem;
  margin-top: 10px;
  color: #fff;
}

.card .button {
  border: none;
  outline: none;

  background-image: linear-gradient(to top, #53504f 0%, #262626 100%);
  margin-top: 10px;
  padding: 10px;
  color: #f9f5f5;
  top: 450px;
  left: 30px;
  font-size: 1rem;
  width: 150px;
  height: 50px;
}

@media screen and (max-width: 960px) {
  .main__container {
    flex-direction: column;
    flex-wrap: wrap;

  }

  .cards {
    flex-direction: column;
    align-items: center;

  }

  .card .button {
    position:relative;
    top:80%;
    left:50%;
    transform:translate(-50%,0%);
    color:rgb(251, 251, 251);
  }

  .card {
    width: 80%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {


  .card h2 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.8rem;
  }

  .card .button {
    padding: 8px;
    font-size: 0.8rem;
  }
}

/* Début Modif pour equipes.html */

.employee-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.employee-card {
  width: 80%;
  border: 1px solid #000000;

  padding: 20px;
  margin: 10px 0;
  background-color: #fff;
}

.employee-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.employee-card ul {
  list-style-type: none;
  padding: 0;
}

.employee-card ul li {
  font-size: 1rem;
  margin: 5px 0;
}

/* Styles for the arrow and collapsible list */

.arrow {
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 10px;
  display: inline-block;
}


.collapsible {

  padding-left: 20px;
  display: grid;
  gap:10px;
  flex-wrap: wrap;
}

.collapsible li {
  font-size: 1rem;
  margin: 5px 10px; 
  width:300px;
  /*grid-auto-rows: minmax(10px, auto);
  box-sizing: border-box;*/
}



/* Début Modif pour index.html */

.mainhome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #ffffffa5;
}

.mainhome__img--container {
  width: 100%;
  height: 100%;
  transition: opacity 0.35s ease-in; 
}

#mainhome__img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.mainhome_title {

  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: 0.35s ease;
}

.main_btnhome {

  padding: 9px;
  border: none;
  outline: none;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  background: transparent;
  cursor: pointer;

}

.main_btnhome::before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;


  background-color: rgba(126, 126, 126, 0.541);
  
  z-index: -1;
  transition: 0.35s ease-in;
}

.main_btnhome::after {
  content: attr(data);
  align-content:center;
  justify-content:center;
  text-decoration: none;;
  font-size: 32px;

  background: rgb(0, 0, 0);
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.35s ease-in;
}

.main_btnhome:hover::before {
  left: 500px;

}
.main_btnhome:hover::after{
  color: rgb(0, 0, 0);
}

.mainhome a:hover + .mainhome__img--container {
  opacity:0.2;
}

.mainhome_title:has(+ a:hover){
  opacity:1;
}

/*
.main_btnhome {
  background-image: linear-gradient(120deg, #000000 0%, #1a1a1a 50%,#747474 75%,#121212 100%);

  background-image: linear-gradient(120deg, #1a1a1a 0%,#747474 25%,#121212 50%, #000000 100%);
  
  color: transparent;
  background-clip: text;
  text-decoration: none;
  
  font-family: 'Kumbh Sans', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  -webkit-transition-delay:all 0.5s ease;
  -moz-transition-delay:all 0.5s ease;
  -ms-transition-delay:all 0.5s ease;
  -o-transition-delay:all 0.5s ease;
  padding: 10px 20px;
  cursor: pointer;
  background: linear-gradient(to right, #00FFA3, #DC1FFF);
  border:none;
  outline:none;

}

  

.main_btnhome::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
  margin-top: 5px;
}


.main_btnhome::after {
  content: 'Explore →';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -35%);

  width: 100%; height: 100%;

  background-image: linear-gradient(120deg, #1a1a1a 0%,#747474 25%,#121212 50%, #000000 100%);

  opacity: 1;
  transition: opacity .5s;
}

.main_btnhome:hover::after {
  opacity:0;
}



.main_btnhome:hover {

  transform: translate(0%, -2%);
}

*/

